
body{
    margin: 0;
    background-color: blueviolet;
}

.header{
    display: flex;
    align-items: center;
    
}

.main{
    display: flex;
    margin: 0;
}

.infor{
    width: 850px;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.ininfor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    height: 10%;
    padding-left: 200px;
}

.image{
    padding-top: 50px;
    width: 670px;
    height: 900px;
    margin-left: auto;
}
